etc/layout.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://github.com/chriskl/phpssrs-utils/layout" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="home">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="folder" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="datasource">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:string" name="connectString" use="optional"/>
                                            <xs:attribute type="xs:string" name="credentialRetrieval" use="optional"/>
                                            <xs:attribute type="xs:string" name="userName" use="optional"/>
                                            <xs:attribute type="xs:string" name="password" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dataset">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:string" name="definition" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="folder">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="folder" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="report" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>todo: move to sub element for array of datasources &lt;property name="Region" value="UK"/>&lt;property name="Department" value="IT"/></xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="definition" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="datasourceref" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="datasourcerefname" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="folder" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="report" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:sequence>
                                                                            <xs:element name="itemreference" maxOccurs="unbounded" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:string">
                                                                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                            <xs:attribute type="xs:string" name="reference" use="optional"/>
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                        <xs:attribute type="xs:string" name="definition" use="optional"/>
                                                                        <xs:attribute type="xs:string" name="datasourceref" use="optional"/>
                                                                        <xs:attribute type="xs:string" name="datasourcerefname" use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>